@use '../../styles/abstracts/fonts';
@use '../../styles/abstracts/funcs';
@use '../../styles/abstracts/radii';
@use '../../styles/abstracts/colors';
@use '../../styles/abstracts/shadows';

.about {
  max-width: funcs.rem(690px);
  padding: funcs.rem(30px) funcs.rem(15px);
  border-radius: radii.$corner;
  background-color: var(--color-fg);
  box-shadow: shadows.$normal;

  &__resume {
    padding: funcs.rem(25px);
  }

  &__title {
    font-weight: 700;
    font-size: fonts.$size-lg;
    color: var(--text-800);
  }

  &__titleLink {
    color: inherit;
    text-decoration: none;
  }

  &__subtitle {
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-300);
    font-size: fonts.$size-md;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-200);
  }

  &__svg {
    width: funcs.rem(20px);
    height: funcs.rem(20px);
    margin-right: funcs.rem(15px);
    color: var(--text-200);
  }

  &__time {
    font-size: fonts.$size-sm;
  }

  &__copy {
    margin: funcs.rem(25px) 0;
    font-size: fonts.$size-sm;
    line-height: 1.5;
    text-align: left;
    color: var(--text-800);
  }

  &__list {
    color: var(--text-300);
  
    li {
      margin-bottom: funcs.rem(10px);
    }
  }

  &, &__resume, &__footer {
    height: auto;
  }

  &__title, &__subtitle {
    text-align: left;
    margin: 0 0 funcs.rem(10px);
  }

  &__resume, &__title, &__subtitle, &__footer {
    width: 100%;
  }
}
