.mainContent {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
}

.mainScene {
  max-width: 972px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;

  &__aside {
    width: 25%;
    max-height: 100vh;
    padding: 30px 15px;
    position: sticky;
    top: 0;
  }

  &__main {
    width: 70%;
    padding: 30px 15px;
  }
}
