@use '../../styles/abstracts/breaks';
@use '../../styles/abstracts/funcs';

.homepage {
  max-width: funcs.rem(972px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  @media (max-width: breaks.$md) {
    flex-direction: column;
  }

  aside {
    width: 25%;
    height: 100vh;
    position: sticky;
    top: 0;

    @media (max-width: breaks.$md) {
      width: 100%;
      height: auto;
      position: static;
    }
  }

  main {
    width: 75%;
    padding: funcs.rem(30px) funcs.rem(15px);

    @media (max-width: breaks.$md) {
      width: 100%;
    }
  }
}
