@use '../../styles/abstracts/funcs';

.homepage {
  max-width: funcs.rem(972px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  aside {
    width: 25%;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  main {
    width: 75%;
    padding: funcs.rem(30px) funcs.rem(15px);
  }

  aside {
    padding: funcs.rem(30px) 0 funcs.rem(15px) funcs.rem(15px);
  }

}
