@use '../../styles/abstracts/breaks';
@use '../../styles/abstracts/funcs';

.toggleMenu {
  cursor: pointer;
  display: none;
  border-style: none;
  background-color: var(--color-bg);

  @media (max-width: breaks.$md) {
    width: funcs.rem(46px);
    height: funcs.rem(38px);
    margin: funcs.rem(30px) funcs.rem(15px);
    padding: funcs.rem(10px) funcs.rem(8px) 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* enter animation transition */
  &.enterActive {

    & {
      pointer-events: none;
    }

    .inner {
      animation-name: enter-middle-line;
    }

    .inner::before {
      animation-name: enter-top-line;
    }

    .inner::after {
      animation-name: enter-bottom-line;
    }
  }
  /**/

  /* enter animation transition is done */
  &.enterDone {

    .inner {
      transform: rotate(135deg);
    }

    .inner::before {
      transform: rotate(90deg);
      top: 0;
    }

    .inner::after {
      opacity: 0;
      bottom: 0;
    }
  }
  /**/

  /* leave animation transition */
  &.leaveActive {

    & {
      pointer-events: none;
    }

    .inner {
      animation-name: leave-middle-line;
    }

    .inner::before {
      animation-name: leave-top-line;
    }

    .inner::after {
      animation-name: leave-bottom-line;
    }
  }
  /**/

  /* leave transition animation is done */
  &.leaveDone {
    .inner {
      transform: rotate(0deg);
    }

    .inner::before {
      top: funcs.rem(-10px);
      transform: rotate(0deg);
    }

    .inner::after {
      transform: rotate(0deg);
      bottom: funcs.rem(-10px);
      opacity: 1;
    }
  }
}

.outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


/* 
 * Hamburger lines
 *
 * middle line 
 */
@keyframes enter-middle-line {
  50%  { transform: rotate(0deg); } 
  100% { transform: rotate(135deg); }
}

@keyframes leave-middle-line {
  0%  { transform: rotate(135deg); }
  50% { transform: rotate(0); }
}
/**/

/* line at the top */
@keyframes enter-top-line {
  0% { 
    top: funcs.rem(-10px);
  }
  50% {
    transform: rotate(0deg);
    top: 0;
  } 
  100% {
    transform: rotate(90deg);
    top: 0;
  }
}

@keyframes leave-top-line {
  0% {
    top: 0;
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
    top: 0;
  }
  100% {
    top: funcs.rem(-10px);
  }
}
/**/

/* line at the bottom */
@keyframes enter-bottom-line {
  0%  { bottom: funcs.rem(-10px); }
  49% { opacity: 1; }
  50% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    opacity: 0;
    bottom: 0;
  }
}

@keyframes leave-bottom-line {
  0%   { opacity: 0; } 
  49%  { opacity: 0; }
  50%  { opacity: 1; bottom: 0; }
  100% { bottom: funcs.rem(-10px); }
}
/**/

$height: funcs.rem(2px);

.inner {
  width: 100%;
  height: $height;
  position: absolute;
  background-color: var(--text-900);

  &, &::before, &::after {
    border-radius: funcs.rem(4px);
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }

  &::before, &::after {
    content: "";
    height: $height;
    width: 100%;
    right: 0;
    position: absolute;
    background-color: var(--text-900);
  }

  &::before {
    top: funcs.rem(-10px);
  }

  &::after {
    bottom: funcs.rem(-10px);
  }
}
