@use '../../styles/abstracts/breaks';
@use '../../styles/abstracts/fonts';
@use '../../styles/abstracts/funcs';

.menu {
  width: 100%;
  padding: 0;
  list-style: none;
  padding: funcs.rem(30px) funcs.rem(15px);

  @media (max-width: breaks.$md) {
    background-color: var(--color-fg);
  }

  li {
    padding: funcs.rem(10px) 0;
    margin-bottom: funcs.rem(15px);
  }

  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  span {
    font-weight: 400;
    color: var(--text-200);
    text-transform: capitalize;
    font-size: fonts.$size-xs;
  }

  svg {
    width: funcs.rem(20px);
    height: funcs.rem(20px);
    margin-right: funcs.rem(40px);
    color: var(--text-200);
    stroke-width: 1.35;

    @media (max-width: breaks.$md) {
      margin-right: funcs.rem(60px);
    }
  }

  &__active svg,
  &__active span {
    font-weight: 700;
    color: var(--text-900);
  }
}
