@use '../../styles/abstracts/breaks';
@use '../../styles/abstracts/fonts';
@use '../../styles/abstracts/funcs';
@use '../../styles/abstracts/shadows';

$menu-height: 400px;

.menu {
  width: 100%;
  display: block;
  padding-left: 0;
  list-style: none;
  overflow: hidden;

  @media (max-width: breaks.$md) {
    background-color: var(--color-fg);
    max-height: 0;
    box-shadow: shadows.$normal;
  }

  li:first-child {
    margin-top: funcs.rem(30px);
  }

  li:last-child {
    margin-bottom: funcs.rem(30px);
  }

  li {
    padding: funcs.rem(10px) 0;
    margin-bottom: funcs.rem(15px);
    margin-left: funcs.rem(15px);
  }

  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  span {
    font-weight: 400;
    color: var(--text-200);
    text-transform: capitalize;
    font-size: fonts.$size-xs;
  }

  svg {
    width: funcs.rem(20px);
    height: funcs.rem(20px);
    margin-right: funcs.rem(40px);
    color: var(--text-200);
    stroke-width: 1.35;

    @media (max-width: breaks.$md) {
      margin-right: funcs.rem(60px);
    }
  }

  &__active svg,
  &__active span {
    font-weight: 700;
    color: var(--text-900);
  }

  /* animation transitions */
  &.enter {
    max-height: 0;
  }

  &.enterActive {
    max-height: $menu-height;
    transition: max-height 600ms;
  }

  &.enterDone {
    max-height: $menu-height;
  }

  &.exit {
    max-height: $menu-height;
  }

  &.exitActive {
    max-height: 0;
    transition: max-height 500ms;
  }

  &.exitDone {
    max-height: 0;
  }
  /**/
}
