@use '../../styles/abstracts/radii';
@use '../../styles/abstracts/fonts';
@use '../../styles/abstracts/funcs';
@use '../../styles/abstracts/shadows';

.blogPostList {
  width: 100%;
  height: auto;
  box-shadow: shadows.$normal;
  border-radius: radii.$corner;
  margin-bottom: funcs.rem(40px);

  article {
    width: 100%;
    background-color: var(--color-fg);

    &:not(:last-child) {
      border-bottom: funcs.rem(1px) solid var(--color-bg);
    }

    &:first-child {
      border-top-left-radius: radii.$corner;
      border-top-right-radius: radii.$corner;
    }

    &:last-child {
      border-bottom-left-radius: radii.$corner;
      border-bottom-right-radius: radii.$corner;
    }

    a {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: funcs.rem(25px);
      text-decoration: none;
    }

    h4 {
      margin: 0 0 funcs.rem(4px);
      font-size: fonts.$size-md;
      color: var(--text-900);
      text-transform: capitalize;
    }

    time {
      color: var(--text-200);
      font-size: fonts.$size-xs;
    }

    img {
      width: funcs.rem(60px);
      height: funcs.rem(60px);
      object-fit: cover;
    }
  }
}
