$dark-bg: #303030;
$dark-fg: #424242;

$white-900: rgba(255, 255, 255, 0.9);
$white-700: rgba(255, 255, 255, 0.8);
$white-400: #ecf0f1;



$light-bg: #f5f5fa;
$light-fg: #ffffff;

$gray-700: hsl(0, 0%, 20%);
$gray-200: hsl(0, 0%, 45%);
$gray-100: hsl(0, 0%, 73%);

$dark-blue: #2c3e50;
