@use '../../styles/abstracts/colors';
@use '../../styles/abstracts/fonts';
@use '../../styles/abstracts/funcs';
@use '../../styles/abstracts/radii';
@use '../../styles/abstracts/shadows';

.sypnosis {
  margin-bottom: funcs.rem(40px);
  max-width: funcs.rem(690px);
  box-shadow: shadows.$normal;
  border-radius: radii.$corner;
  background-color: colors.$light-fg;

  &__header {
    height: funcs.rem(200px);
  }

  &__banner {
    object-fit: cover;
  }

  &__bannerLink {
    display: block;
  }

  &__categories {
    padding: 0;
    margin: 0 0 funcs.rem(10px);
  }

  &__resume {
    padding: funcs.rem(25px);
  }

  &__title {
    font-weight: 700;
    font-size: fonts.$size-lg;
    color: colors.$gray-700;
  }

  &__titleLink {
    color: inherit;
    text-decoration: none;
  }

  &__subtitle {
    line-height: 1.5;
    font-weight: 400;
    color: colors.$gray-200;
    font-size: fonts.$size-md;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: colors.$gray-100;
  }

  &__svg {
    width: funcs.rem(20px);
    height: funcs.rem(20px);
    margin-right: funcs.rem(15px);
    color: colors.$gray-100;
  }

  &__time {
    font-size: fonts.$size-sm;
  }

  &, &__resume, &__footer {
    height: auto;
  }

  &__banner, &__bannerLink {
    height: 100%;
  }

  &__title, &__subtitle {
    text-align: left;
    margin: 0 0 funcs.rem(10px);
  }

  &, &__banner, &__bannerLink {
    border-top-left-radius: radii.$corner;
    border-top-right-radius: radii.$corner;
  }

  &__header, &__resume, &__title, &__subtitle, &__footer, 
  &__banner, &__bannerLink, &__categories {
    width: 100%;
  }
}

.sypnosisLight {
  background-color: colors.$light-fg;

  &__title {
    color: colors.$gray-700;
  }

  &__subtitle {
    color: colors.$gray-200;
  }

  &__footer {
    color: colors.$gray-100;
  }

  &__svg {
    color: colors.$gray-100;
  }
}

.sypnosisDark {
  background-color: colors.$dark-fg;

  .sypnosis__title {
    color: colors.$white-900;
  }

  .sypnosis__subtitle {
    color: colors.$white-700;
  }

  .sypnosis__footer {
    color: colors.$gray-100;
  }

  .sypnosis__svg {
    color: colors.$gray-100;
  }
}
