@use '../../styles/abstracts/fonts';
@use '../../styles/abstracts/funcs';

.footer {
  margin-top: funcs.rem(40px);
  padding: funcs.rem(20px) 0 funcs.rem(40px);

  &::before {
    content: "";
    display: block;
    height: funcs.rem(3px);
    width: funcs.rem(50px);
    background-color: var(--deco);
    margin-bottom: funcs.rem(20px);
  }

  &__copyright {
    font-weight: 700;
    font-size: fonts.$size-xs;
    color: var(--text-900);
    margin-bottom: funcs.rem(10px);
  }

  &__copy {
    margin: 0;
    font-size: fonts.$size-xs;
    color: var(--text-200);
  }

  &__link {
    text-decoration: none;
    color: var(--text-200);
  }
}
