@use './styles/abstracts/colors';

.dark {
  --color-bg: #303030;
  --color-fg: #424242;
  --text-900: hsl(0, 0%, 90%);
  --text-800: hsl(0, 0%, 100%);
  --text-300: hsl(0, 0%, 70%);
  --text-200: hsl(0, 0%, 73%);
}

.light {
  --color-bg: #f5f5fa;
  --color-fg: #ffffff;
  --text-900: #2c3e50;
  --text-800: hsl(0, 0%, 0%);
  --text-300: hsl(0, 0%, 45%);
  --text-200: hsl(0, 0%, 73%);
}
